# Python
__pycache__/
*.pyc
*.pyo

# Unwanted images
extra_images/

# Sass
.sass-cache/

# Environment
.env
.venv/
*.sqlite3

# Static/media
/media/
staticfiles/

# OS
.DS_Store

# IDEs
.vscode/
.idea/