# Database stuff
PGDATABASE=your_database_name
PGPASSWORD=your_database_password
PGUSER=your_database_username
PGHOST=your_database_hostname
PGPORT=your_database_port_no

# Django stuff
SECRET_KEY=your_django_secret_key
ENVIRONMENT=Development / Production # Acoording to the environment

# Cloudinary stuff
CLOUD_NAME=your_cloudname
CLOUD_API_KEY=your_api_key 
CLOUD_API_SECRET=your_api_secret