{% extends '../recipe/index.html' %}
{% load static %}
{% block meta-discription %}Login or Signup{% endblock %}
{% block title %}Login or Signup{% endblock %}
{% block styles %}
	<link rel="stylesheet" href="{% static 'css/login-signup.css' %}">
{% endblock %}
{% block header %}{% endblock %}
{% block main-body %}
	<div class="container {% if show_err_on_signup %}right-panel-active{% endif %}" id="container">
		<div class="form-container sign-up-container">
			<form action="{% url 'signup' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<h2>Create Account</h2>
				<span>Use your email for registration</span>
				{% if messages %}
					{% for message in messages %}
						{% if show_err_on_signup %}
							<div class="err-container">
								<span>{{ message }}</span>
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
				<input type="text" name="name" placeholder="Name" />
				<input type="file" accept=".jpg, .jpeg, .png, .gif" name="profile_pic" id="profilePic"/>
				<label for="profilePic" class="fake-file-input">
					<i class="fa fa-folder-open"></i>&nbsp;
					<span>Click to Add Profile Picture (optional)</span>
				</label>
				<input type="email" name="email" placeholder="Email" />
				<input type="password" name="password" placeholder="Password" />
				<button>Sign Up</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form action="{% url 'login' %}" method="post">
				{% csrf_token %}
				<h1>Log in</h1>
				<span>Use your account</span>
				{% if messages %}
					{% for message in messages %}
						{% if not show_err_on_signup %}
							<div class="err-container">
								<span>{{ message }}</span>
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
				<input type="email" name="email" placeholder="Email" />
				<input type="password" name="password" placeholder="Password" />
				<a href="#"></a>
				<button>Sign In</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Hi, Cooks!</h1>
					<p>Enter your personal details and start journey with us</p>
					<a class="white" id="signIn">Already have an Account ? Log In</a>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Welcome Back!</h1>
					<p>To keep connected with us please login with your personal info</p>
					<a class="white" id="signUp">Don't have an Account ? Sign Up</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}{% endblock %}
{% block scripts %}
	<script src="{% static 'js/login-signup.js' %}"></script>
	<script src="https://kit.fontawesome.com/83968cc839.js" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
