{% extends 'recipe/index.html' %}
{% load static %}

{% block meta-discription %}Add Recipe{% endblock %}
{% block title %}Add Recipe{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/add-recipe.css' %}">
{% endblock %}
{% block main-body %}
    <form action="{% url 'add_recipe' %}" method="post" enctype="multipart/form-data" class="form-container">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <h1>Add New Recipe</h1>
        <span>Add your special recipes so others can also enjoy</span>
        {% for message in messages %}
            <div class="err-container">
                <span>{{ message }}</span>
            </div>
        {% endfor %}
        <label for="title" {% if not messages %}style="margin-top: 20px;"{% endif %}>Title of Recipe : </label>
        <input type="text" name="title", id="title">

        <input type="file" name="recipe-image", id="recipeImage">
        <label for="recipeImage" class="fake-file-input">
            <i class="fa fa-folder-open"></i>
            <span>Click to Add Thumnail(mandatory)</span>
        </label>

        <label>Select the categories:</label>
        <div class="multiple-inputs">
            {% for category in categories %}
                <div class="multiple-inputs-node">
                    <input type="checkbox" name="categories" value="{{ category.pk }}" id="{{ category.pk }}">
                    <label for="{{ category.pk }}">{{ category.title }}</label>
                </div>
            {% endfor %}
        </div>

        <label>Select the veganity:</label>
        <div class="multiple-inputs">
            {% for value, label in veganity_choices %}
                <div class="multiple-inputs-node">
                    <input type="radio" name="veganity" value="{{ value }}" id="{{ value }}">
                    <label for="{{ value }}">{{ label }}</label>
                </div>
            {% endfor %}
        </div>

        <textarea type="text" name="discription" placeholder="Discribe the recipe(Use Enter to seperate steps)"></textarea>

        <button type="submit" class="curved-btn" style="width: 100%;">Post</button>
    </form>
{% endblock %}