{% load static %}
{% load all_below %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% block meta-discription %}Home Page{% endblock %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>{% block title %}Cookify - Recipe Sharing Platform{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block styles %}
    {% endblock %}

</head>

<body class="theme-green">
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/favicon.ico' %}" alt="">
    </div>
    {% block header %}
    <!-- Search Wrapper -->
    <div class="search-wrapper">
        <!-- Close Btn -->
        <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="{% url 'all_recipes' %}" method="get">
                        <input type="search" name="search" placeholder="Search recipes...">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-between"></div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="{% url 'home' %}"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'all_recipes' %}">Receipies</a></li>
                                    <li><a href="{% url 'all_recipes' %}?veg=1">4 Vegans</a></li>
                                    {% if request.user.is_authenticated %}
                                        <li><a href="{% url 'cook_profile' request.user.cook.id %}">Profile</a></li>
                                    {% else %}
                                        <li><a href="{% url 'login' %}">Login</a></li>
                                    {% endif %}
                                </ul>

                                <!-- Newsletter Form -->
                                <div class="search-btn">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    {% endblock %}
    {% block main-body %}
    {% if carousel_recipes %}
        <!-- ##### Hero Area Start ##### -->
        <section class="hero-area">
            <div class="hero-slides owl-carousel">
                {% for recipe in carousel_recipes %}
                    <!-- Single Hero Slide -->
                    <div class="single-hero-slide bg-img" style="background-image: url('{{ recipe.image.url}}');">
                        <div class="container h-100">
                            <div class="row h-100 align-items-center">
                                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                                    <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                        <h2 data-animation="fadeInUp" data-delay="300ms">{{ recipe.title }}</h2>
                                        <a href="{% url 'recipe_post' recipe.id %}" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Recipe</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <!-- ##### Hero Area End ##### -->
    {% endif %}
    {% if top_category %}
        <!-- ##### Top Catagory Area Start ##### -->
        <section class="top-catagory-area section-padding-80-0">
            <div class="container">
                <div class="row">
                    {% for recipe in top_category %}
                        <!-- Top Catagory Area -->
                        <div class="col-12 col-lg-6">
                            <div class="single-top-catagory">
                                <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                                <!-- Content -->
                                <div class="top-cta-content">
                                    <h3>{{ recipe.title }}</h3>
                                    <h6>Simple &amp; Delicios</h6>
                                    <a href="{% url 'recipe_post' recipe.id %}" class="btn delicious-btn">See Full Receipe</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- ##### Top Catagory Area End ##### -->
    {% endif %}
    {% if best_recipes %}
        <!-- ##### Best Receipe Area Start ##### -->
        <section class="best-receipe-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading">
                            <h3>The Best Receipies</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% for recipe in best_recipes %}
                        <!-- Single Best Receipe Area -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-best-receipe-area mb-30">
                                <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
                                <div class="receipe-content">
                                    <a href="{% url 'recipe_post' recipe.id %}">
                                        <h5>{{ recipe.title }}</h5>
                                    </a>
                                    <a href="{% url 'cook_profile' recipe.cook.id %}">By {{ recipe.cook.name }}</a>
                                    <div class="ratings">
                                        {% for i in 5|all_below %}
                                            {% if i < recipe.avg_rating %}
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- ##### Best Receipe Area End ##### -->
    {% endif %}
    {% if more_recipes %}
        <!-- ##### Small Receipe Area Start ##### -->
        <section class="small-receipe-area">
            <div class="container">
                <div class="section-heading">
                    <h3>Discover More Recepies</h3>
                </div>
                <div class="row">
                    {% for recipe in more_recipes %}
                        <!-- Small Receipe Area -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-small-receipe-area d-flex">
                                <!-- Receipe Thumb -->
                                <div class="receipe-thumb">
                                    <img src="{{ recipe.image.url }}" alt="">
                                </div>
                                <!-- Receipe Content -->
                                <div class="receipe-content">
                                    <span>{{ recipe.posted_at }}</span>
                                    <a href="{% url 'recipe_post' recipe.id %}">
                                        <h5>{{ recipe.title }}</h5>
                                    </a>
                                    <p>{{ recipe.comments.count }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- ##### Small Receipe Area End ##### -->
    {% endif %}
    {% if famous_cooks %}
        <!-- ##### Famous Cook Area Start ##### -->
        <section class="famous-cooks-area" id="famousCooks">
            <div class="container">
                <div class="section-heading">
                    <h3>Famous Cooks</h3>
                </div>
                <div class="row">
                    {% for cook in famous_cooks %}
                        <!-- Famous Cook Area -->
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-famous-cook-area d-flex">
                                <!-- Cook Profile Pic -->
                                <div class="cook-thumb">
                                    <img src="{{ cook.profile_picture.url }}" alt="" class="cook-pic">
                                </div>
                                <!-- Cook Content -->
                                <div class="cook-content">
                                    <a href="{% url 'cook_profile' cook.id %}">
                                        <h5>{{ cook.name }}</h5>
                                    </a>
                                    <p>{{ cook.followers.count }} followers</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- ##### Small Receipe Area End ##### -->
    {% endif %}

    <!-- ##### Quote Subscribe Area Start ##### -->
    <section class="quote-subscribe-adds">
        <div class="container">
            <div class="row align-items-end">
                <!-- Quote -->
                <div class="col-12">
                    <div class="quote-area text-center">
                        <span>"</span>
                        <h4>Nothing is better than going home to family and eating good food and relaxing</h4>
                        <p>John Smith</p>
                        <div class="date-comments d-flex justify-content-between">
                            <div class="date">January 04, 2018</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Quote Subscribe Area End ##### -->
    {% endblock %}
    {% block footer %}
    <!-- ##### Follow Us Instagram Area Start ##### -->
    <div class="follow-us-instagram">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>Follow Us Instragram</h5>
                </div>
            </div>
        </div>
        <!-- Instagram Feeds -->
        <div class="insta-feeds d-flex flex-wrap">
            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta1.jpg' %}" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/clearly._hara/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta2.jpg' %}" s alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/clearly._hara/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta3.jpg' %}" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/clearly._hara/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta4.jpg' %}" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/clearly._hara/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta5.jpg' %}" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/clearly._hara/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta6.jpg' %}" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/clearly._hara/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="{% static 'img/bg-img/insta7.jpg' %}" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="https://www.instagram.com/clearly._hara/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Follow Us Instagram Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                    <!-- Footer Social Info -->
                    <div class="footer-social-info text-right">
                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                    <!-- Footer Logo -->
                    <div class="footer-logo">
                        <a href="{% url 'home' %}"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
                    </div>
                    <!-- Copywrite -->
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Ends ##### -->
    <!-- ##### Add Recipe Button #####-->
    <a href="{% url 'add_recipe' %}?next={{ request.path }}" class="add-recipe-btn" title="Post New Recipe">+</a>

    <!-- Alert on unauthentication -->
    {% if not request.user.is_authenticated %}
        <div class="alert-container">
            <div class="alert-box">
                <h2>Not Logged in !</h2>
                <p>You are not logged in. Login to access all actions</p>
                <div class="alert-buttons">
                    <a href="{% url 'login' %}?next={{ request.path }}" class="alert-btn alert-confirm">Login</a>
                    <button class="alert-btn alert-leave">Stay Logged out</button>
                </div>
            </div>
        </div>
    {% endif %}
    {% endblock %}
    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
    <!-- Font Awesome js -->
    <script src="https://kit.fontawesome.com/83968cc839.js" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>