{% extends 'recipe/index.html' %}
{% load all_below %}
{% load veganity_icon %}

{% block meta-discription %}All Recipies{% endblock %}
{% block title %}Recipes{% endblock %}

{% block main-body %}
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url('{{ breadcrumb_bg }}');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>All Recipes</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->
    <div class="section-padding-80-0">
        <!-- Receipe Post Search -->
        <div class="receipe-post-search mb-80">
            <div class="container">
                <form method="get">
                    <div class="row">
                        <div class="col-12 col-lg-3">
                            <select name="cat">
                                <option value="0" selected>All Category</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 col-lg-3">
                            <select name="veg">
                                <option value="0" selected>All Veganity</option>
                                {% for value, label in veganity_choices %}
                                    <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 col-lg-3">
                            <input type="search" name="search" placeholder="Search Receipies">
                        </div>
                        <div class="col-12 col-lg-3 text-right">
                            <button type="submit" class="curved-btn">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- ##### Small Receipe Area Start ##### -->
    <section class="small-receipe-area">
        <div class="container">
            <div class="row">
                {% for recipe in recipes %}
                    <!-- Small Receipe Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-small-receipe-area d-flex">
                            <!-- Receipe Thumb -->
                            <div class="receipe-thumb">
                                <img src="{{ recipe.image.url }}" alt="">
                            </div>
                            <!-- Receipe Content -->
                            <div class="receipe-content">
                                <span>{{ recipe.posted_at }}</span>
                                <a href="{% url 'recipe_post' recipe.id %}">
                                    <h5>{{ recipe.title }}</h5>
                                </a>
                                <p><i class="fa {{ recipe.veganity_status|veganity_icon }}"></i> {{ recipe.get_veganity_status_display }}</p>
                                <div class="ratings">
                                    {% for index in 5|all_below %}
                                        {% if index < recipe.avg_rating %}
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        {% else %}
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        {% endif %}
                                    {% endfor %}
                                    <p>{{ recipe.comments.count }} Comments</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ##### Small Receipe Area End ##### -->
{% endblock %}